body {
    font-size: 10pt;
    font-family: sans-serif;
    background-color: #FFF;
    margin: 0px;
    overflow: hidden;
}

#container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#hud.hidden {
    display: none;
}

#hud.animation-mode #popups {
  display: none;
}

#hud.help-mode #buttons {
  display: none;
}

#hud.help-mode #help {
  top: -5px;
}

#hud.video-mode #buttons {
  display: none;
}

#hud.video-mode #video {
  display: block;
}

div#fullscreen_button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-size: 100% 100%;
    z-index: 110;
}

div#help_button {
    position: absolute;
    top: 60px;
    right: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-size: 100% 100%;
    z-index: 110;
    background-image: url('media/icon_help.png');
}

section.popup {
    position: absolute;
    max-width: 125px;
    width:auto;
}

section.popup header {
    display: inline-block;
    border: solid white 1px;
    border-radius: 5px;
    background-color: #000000A0;
    color: white;
    width: 12em;
    text-align: center;
    padding: .5em;
}

@media all and (max-width: 1024px) {
    body {
        font-size: 1.2vw;
    }
}

section.popup .iconbar img {
    padding-left: 5px;
    cursor: pointer;
}

.overlay {
    z-index: 150;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#video.overlay {
    background-color: #000000AA;
    display:none;
}

#video .videoplayer {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 560px;
    height: 315px;
    margin-left: -280px;
    margin-top: -158px;
    width: 60vw;
    height: 60vh;
    margin-left: -30vw;
    margin-top: -30vh;
}

#video .iconbar {
    font-size: 24pt;
    color: white;
    cursor: pointer;
    text-align: right;
    margin-top: -2em;
}

#help.overlay {
    position: absolute;
    top: -100%;
    left: 0px;
    width: 40%;
    margin-left: 30%;
    height: 45%;
    padding-bottom: 4em;
    border-radius: 0px 0px 15px 15px;
    border: 5px solid #FFFFFF;
    background-color: #FFFFFFE0;
    color: black;
    -webkit-transition: top 1s; /* Safari */
    transition: top 1s;
}

#help .content {
    height: 100%;
    overflow-y: auto;
}

#help .content p {
  clear: both;
  margin: 2em;
}

#help .content img {
  float: left;
  padding-right: 1.5em;
  padding-bottom: 1.5em;
}

#help .buttonbar {
  padding-top: 1em;
  text-align: center;
}

#help .buttonbar button {
  padding: .2em 1em .2em 1em;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.fullscreen-open {
    background-image: url('media/fullscreen-open.png');
}

.fullscreen-close {
    background-image: url('media/fullscreen-close.png');
}

/* removes tap blinking on ios devices */
* { -webkit-tap-highlight-color:rgba(0,0,0,0); }


